In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
data = [5,6,12,-5,6.7]
index = ['A','B','C','D','E']

In [ ]:
#Create a 1D array
s = pd.Series(data,index)

In [ ]:
s

In [ ]:
s['A']

In [ ]:
data = [5,6,12,-5,6.7,2.5]
index = ['A','B','C','D','E','C']

In [ ]:
s1 = pd.Series(data,index)

In [ ]:
s1

In [ ]:
s1['C']

In [ ]:
## A dataframe is ndarray in Pandas
df = pd.DataFrame(np.random.randn(4,5),['A','B','C','D'],[1,2,3,4,5])

In [ ]:
df

In [ ]:
# Display values in the 5th column
df[5]

In [ ]:
# Display values in second row (row labeled 'B')
df.loc['B']

In [ ]:
# Display value in fourth row(D) and column labeled 3
df.loc['D',3]

In [ ]:
# Define data as a dictionary, with key being the column name and values being the values for each column

data = {'foo':[0,4,8,-12,16],
      'bar':['x','y','z','w','a'],
      'baz':[2.7,6,10,'NA',18],
      'qux':['True','True','False','False','False']
    
}
# Asisgn the row names for the Data frame
df1 = pd.DataFrame(data,index=['A','B','C','D','E'])

In [ ]:
df1

In [ ]:
# Display values in column labeled 'foo'
df1['foo']

In [ ]:
# Define the observation labeled C (row C)
df1.loc['C']

In [ ]:
# Value in cell corresponding to row labeled 'D' and column labeled 'foo'
df1.loc['D','foo']

In [ ]:
# Value in cell corresponding to row labeled 'D' and column labeled 'foo' by the integer indices just 
# like in a numpy array
df1.iloc[3,2]

In [ ]:
# Values in two columns. A dataframe will be returned
df1[['foo','baz']]

In [ ]:
# Verify that a single column display returns a panda Series
type(df1['foo'])

In [ ]:
# Verify that a multi-column display returns a panda DataFrame
type(df1[['foo','baz']])

In [ ]:
df

In [ ]:
## Return a dataframe corresponding to more than one row and column
df.loc[['A','B'],[3,4]]

In [ ]:
## Add a new column to an existing dataFrame
df['newColumn']=pd.Series(['abc','def','ghi','jkl'],index=['A','B','C','D'])

In [ ]:
df

In [ ]:
## Drop a column from th DataFrame
df.drop(3,axis=1)

In [ ]:
# Drop a row from the dataFrame
df.drop('C',axis=0)

In [ ]:
## The column and the row dropped in the previous two steps is not permanent
df

In [ ]:
## To permanently drop a row or a column using a parameter, inplace= True for drop
df.drop('C',axis=0,inplace=True)

In [ ]:
df

In [ ]:
## Histogram a DataFrame
df.plot.hist()